*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 1498px;
    height: 660px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(image4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFA07A;
    margin: -150px 0 0 0px;
}
.caption{
    padding:100px 100px;
    
    margin-top: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.caption h2{
    animation: caption-load 700ms ease-out;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
    color:#d6ad9d;
}

.caption p{
    color:white;
    padding-top: 40px;
    letter-spacing: 2px;
    font-size: 12px;
}

.albums{
    background-color: rgb(119, 86, 75);
    padding: 32px 0;
    margin-top: -70px;
}
input{
    display: none;
}
.top-content{
    margin: 20px 20px 60px 20px;
    text-align: center;
    
}
.top-content label{
    margin: 20px;
    background-color: rgba(0,0,0,0.25);
    padding: 15px 30px;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 3px 3px 5px rgb(70, 53, 53);
    cursor: pointer;
}
label:hover{
    color: rgb(153, 139, 139);
}
.album-gallery{
    width:100%;
    margin: 40px 0;
}
.album-gallery .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pic{
    position: relative;
    height:380px;
    width: 259px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(70, 53, 53);
    margin: 0 15px 25px 0;
    display: flex;
}
.pic img{
    width: 100%;
    height:100%;
    border-radius: 10px;
}
.pic:hover{
    transform: scale(1.03);
    transition: 0.5s;
}
.desc{
    width: 100%;
    height:100%;
    top:0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    border-radius: 10px;
}
.desc h2{
    color:#eb865e;
    line-height: 45px;
}
.desc p{
    color: white;
    font-size: 13px;
}
.desc:hover{
    opacity: 1;
    cursor: pointer;  
}

#check1:checked ~ .albums .album-gallery .row .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
